QI. What is a database? Differentiate between SQL and NoSQL databases.

Database

A database is a structured collection of data that is organized and stored in a way that allows for efficient retrieval, management, and manipulation of that data. Databases are used to store and manage vast amounts of information, ranging from simple lists and catalogs to complex business data and application data. Databases are a core component of modern software applications, enabling data persistence and retrieval.

Difference between SQL and NoSQL database:

1. SQL databases are relational, and NoSQL databases are non-relational.
2. SQL databases use structured query language (SQL) and have a predefined schema. NoSQL databases have dynamic schemas for unstructured data.
3. SQL databases are vertically scalable, while NoSQL databases are horizontally scalable.

<br>
Q2. What is DDL? Explain why CREATE, DROP, ALTER, and TRUNCATE are used with an example.

DDL

DDL stands for Data Definition Language in the context of databases. It's a subset of SQL (Structured Query Language) used for defining, managing, and modifying the structure of a database and its objects. DDL commands include CREATE, DROP, ALTER, and TRUNCATE, among others. Here's an explanation of each command with an example:

CREATE is used to define new database objects.<br>
DROP is used to delete existing database objects and their data.<br>
ALTER is used to modify the structure of existing database objects.<br>
TRUNCATE is used to remove all data from a table while preserving its structure.<br>

Examples:

CREATE TABLE Employees (
    EmployeeID INT PRIMARY KEY,
    Name VARCHAR(50),
    Salary DECIMAL(10, 2)
);

This will create Employee table is database with given fields.

DROP TABLE Employees;

This can be used to Drop/delete the table from database.

ALTER TABLE Employees ADD Department VARCHAR(50);

This will modify the database in this case it will add a colmun named Department into the table.

TRUNCATE TABLE Employees;

Truncate will remove all the data from the table but it will maintain the table in the defined manner.

<br>
Q3. What is DML? Explain INSERT, UPDATE, and DELETE with an example.

DML stands for Data Manipulation Language in the context of databases. It's a subset of SQL (Structured Query Language) used for manipulating and managing data within a database. DML commands include INSERT, UPDATE, DELETE, and SELECT.

INSERT is used to add new records to a table.<br>
UPDATE is used to modify existing records in a table.<br>
DELETE is used to remove records from a table based on a specified condition.<br>

<br>
Q4. What is DQL? Explain SELECT with an example.


DQL stands for Data Query Language in the context of databases. It's a subset of SQL (Structured Query Language) used for querying and retrieving data from a database. The primary DQL command is SELECT, which allows you to specify the data you want to retrieve from one or more database tables. Here's an explanation of the SELECT command with an example:

SELECT: The SELECT command is used to query and retrieve data from one or more tables in a database. It allows you to specify which columns you want to retrieve, as well as conditions to filter the rows you're interested in.

Example:

Select * from details;

This will retrive al the data from the table named as details.

<br>
Q5. Explain Primary Key and Foreign Key.

Primary Key

A primary key is a special type of constraint used in a relational database to uniquely identify each record or row in a table. It serves as a reference point to maintain data integrity and establish relationships between tables. Here are key characteristics and points to know about primary keys:

1. Uniqueness
2. Indexed
3. Not-Null

Foreign Key

A foreign key is a database constraint that establishes a link between two tables by referencing the primary key of another table. It enforces referential integrity, ensuring that the relationships between tables are maintained correctly. 

1. References
2. Enforcement
3. Many-to-One Relationships

<br>
Q6. Write a python code to connect MySQL to python. Explain the cursor() and execute() method.

In [6]:
import mysql.connector as db

con = db.connect(host="localhost",database="employeedetails",password="",user="root")
cursor = con.cursor()
print(cursor)

print(cursor.execute("SHOW TABLES"))

CMySQLCursor: (Nothing executed yet)
None

cursor():

The cursor() method is used to create a cursor object within your database connection. A cursor is a control structure that allows you to traverse records in a database and perform various database operations like inserting, updating, deleting, and selecting records.

execute():

The execute() method is used with a cursor object to execute SQL queries or commands. It allows you to send SQL statements to the database for execution. The SQL statement is typically passed as an argument to the execute() method.

<br>
Q7. Give the order of execution of SQL clauses in an SQL query.

In [ ]:
FROM Clause:

1. The FROM clause is the first clause executed.
2. It specifies the source tables or views from which data is retrieved.
3. If multiple tables are involved (joins), the tables are combined according to the join conditions.

Example:

SELECT * FROM details;

This query will retrive all the data from 'details tanl'