Q1. Create a Pandas Series that contains the following data: 4, 8, 15, 16, 23, and 42. Then, print the series.

In [32]:
import pandas as pd

col1 = [4,8,15,16,23,42]

se1 = pd.Series(col1)
se1

0     4
1     8
2    15
3    16
4    23
5    42
dtype: int64

<br>Q2. Create a variable of list type containing 10 elements in it, and apply pandas.Series function on the
variable print it.

In [33]:
lst = [1,2,3,4,5,6,7,8,9,10]

se = pd.Series(lst)
se

0     1
1     2
2     3
3     4
4     5
5     6
6     7
7     8
8     9
9    10
dtype: int64

<br>Q3. Create a Pandas DataFrame that contains the following data:

Then, print the DataFrame.

In [34]:

data={"Name":["Alice","Bob","Claire"],
"Age":[25,30,27],
"Gender":["Female","Male","Female"]
}

df = pd.DataFrame(data)
df

     Name  Age  Gender
0   Alice   25  Female
1     Bob   30    Male
2  Claire   27  Female

Q4. What is ‘DataFrame’ in pandas and how is it different from pandas.series? Explain with an example.
<br>

In pandas, a DataFrame is a two-dimensional, size-mutable, and potentially heterogeneous tabular data structure with labeled axes (rows and columns). It can be thought of as similar to a spreadsheet or SQL table. 

Difference between DataFrame and Series :

DataFrame:
1. A two-dimensional structure.
2. Can store data of different types in different columns.
3. Contains both row and column labels, making it easy to access and manipulate data.

Series:
1. A one-dimensional structure, essentially a single column of data.
2. Contains data of a single type.
3. Has an index (label) for each element.

Example:<br>
The se Series and df Dataframe can be used for examples we can clearly see the df is multi-dimensional but the se is only one-dimensional.

<br>Q5. What are some common functions you can use to manipulate data in a Pandas DataFrame? Can
you give an example of when you might use one of these functions?

Some of the commonly used function to manipluate data in a DataFrame are as follows :
1. iloc[]
2. pivot()
3. apply()
4. fillna()
5. drop()

In [35]:
print(df)
df.iloc[0,1] = 12
print('----------------------')
print(df)

     Name  Age  Gender
0   Alice   25  Female
1     Bob   30    Male
2  Claire   27  Female
----------------------
     Name  Age  Gender
0   Alice   12  Female
1     Bob   30    Male
2  Claire   27  Female

<br>
Q6. Which of the following is mutable in nature Series, DataFrame, Panel?

All three Series, DataFrame, Panel are mutable in Nature.

<br>
Q7. Create a DataFrame using multiple Series. Explain with an example.

In [36]:
series1 = pd.Series([1,2,3])
series2 = pd.Series(["Rakesh","Prince","Rahul"])
series3 = pd.Series(["Fail","Pass","Fail"])

seriesData = data = {
    'index': series1,
    'name': series2,
    'result': series3
}

seriesDf = pd.DataFrame(seriesData)
seriesDf

   index    name result
0      1  Rakesh   Fail
1      2  Prince   Pass
2      3   Rahul   Fail

In this example, we create three Series (series1, series2, and series3), and then we create a DataFrame seriesDf by passing a dictionary where the keys are the column names, and the values are the Series. The resulting DataFrame will have three columns: 'index', 'name', and 'result', with the data from the corresponding Series.

In [42]:
data = {'name': ['Alice', 'Bob', 'Charlie'], 'age': [30, 25, 40]}

df = pd.DataFrame(data)

 

df_subset = df.loc[1:2, 'name']

 

print(df_subset)

1        Bob
2    Charlie
Name: name, dtype: object

In [44]:
data = {'date': ['2022-01-01', '2022-02-01', '2022-03-01'], 'sales': [100, 200, 300]}

df = pd.DataFrame(data)

 

df['date'] = pd.to_datetime(df['date'])

df['month'] = df['date'].dt.month

 

print(df)

        date  sales  month
0 2022-01-01    100      1
1 2022-02-01    200      2
2 2022-03-01    300      3