Q1. List any five functions of the pandas library with execution.

Five functions of pandas library are:
1. pandas.DataFrame
2. pandas.read_csv
3. df.head()
4. df.shape
5. df.to_csv

In [75]:
import pandas as pd 

data = {'A': ['2022-01-01', '2022-02-01', '2022-03-01'], 'B': [100, 200, 300], 'C':[True,False,True]}

df = pd.DataFrame(data)
print(df)
print("\n\ndf.to_csv")
df.to_csv("data.csv",index=False)
df = pd.read_csv('data.csv')
print(df)
print("\n\ndf.head()")
print(df.head(2))
print("\n\ndf.shape()")
print(df.shape)

            A    B      C
0  2022-01-01  100   True
1  2022-02-01  200  False
2  2022-03-01  300   True


df.to_csv
            A    B      C
0  2022-01-01  100   True
1  2022-02-01  200  False
2  2022-03-01  300   True


df.head()
            A    B      C
0  2022-01-01  100   True
1  2022-02-01  200  False


df.shape()
(3, 3)

<br>
Q2. Given a Pandas DataFrame df with columns 'A', 'B', and 'C', write a Python function to re-index the
DataFrame with a new index that starts from 1 and increments by 2 for each row.

In [76]:
def reindex_dataframe(df):
    df.reset_index(drop=True, inplace=True)
    new_index = pd.Series(range(1, 2 * len(df), 2))
    df.index = new_index
reindex_dataframe(df)
print(df)

            A    B      C
1  2022-01-01  100   True
3  2022-02-01  200  False
5  2022-03-01  300   True

<br>
Q3. You have a Pandas DataFrame df with a column named 'Values'. Write a Python function that
iterates over the DataFrame and calculates the sum of the first three values in the 'Values' column. The
function should print the sum to the console.
For example, if the 'Values' column of df contains the values [10, 20, 30, 40, 50], your function should
calculate and print the sum of the first three values, which is 60.

In [77]:
def calculate_sum(df,num):
    sum = df['Values'].iloc[:num].sum()
    print(f"Sum of the first {num} values:", sum)

dataValues = {'Values': [10, 20, 30, 40, 50]}
values_df = pd.DataFrame(dataValues)

calculate_sum(values_df,3)

Sum of the first 3 values: 60

<br>
Q4. Given a Pandas DataFrame df with a column 'Text', write a Python function to create a new column
'Word_Count' that contains the number of words in each row of the 'Text' column.

In [78]:
data = {'Text': ["Deepak", "Raj", "Rahul", "Bharti", "Naman"]}
df = pd.DataFrame(data)
df['Word_Count'] = df['Text'].map(lambda x: len(x))
df

     Text  Word_Count
0  Deepak           6
1     Raj           3
2   Rahul           5
3  Bharti           6
4   Naman           5

<br>
Q5. How are DataFrame.size() and DataFrame.shape() different?

Both are different because DataFrame.size returns the number of elements present in a DataFrame while DataFrame.shape returns the dimensions of DataFrame.

In [79]:
print("df.size = ",df.size)
print("df.shape = ",df.shape)

df.size =  10
df.shape =  (5, 2)

<br>
Q6. Which function of pandas do we use to read an excel file?

As mentioned above Pandas read_csv function is used to read an csv into python file.

<br>
Q7. You have a Pandas DataFrame df that contains a column named 'Email' that contains email
addresses in the format 'username@domain.com'. Write a Python function that creates a new column
'Username' in df that contains only the username part of each email address.
The username is the part of the email address that appears before the '@' symbol. For example, if the
email address is 'john.doe@example.com', the 'Username' column should contain 'john.doe'. Your
function should extract the username from each email address and store it in the new 'Username'
column.

In [80]:
data = {'Email': ["deepak@gmail.com", "raj23@open.ai", "rahul@workforce.com", "bharti543@yahoo.com", "namanjaink@gmail.com"]}
df = pd.DataFrame(data)
df['Username'] = df['Email'].map(lambda x: x.split("@")[0])
df

                  Email    Username
0      deepak@gmail.com      deepak
1         raj23@open.ai       raj23
2   rahul@workforce.com       rahul
3   bharti543@yahoo.com   bharti543
4  namanjaink@gmail.com  namanjaink

<br>
Q8. You have a Pandas DataFrame df with columns 'A', 'B', and 'C'. Write a Python function that selects
all rows where the value in column 'A' is greater than 5 and the value in column 'B' is less than 10. The
function should return a new DataFrame that contains only the selected rows.
For example, if df contains the following values:

|   | A | B | C |
|---|---|---|---|
| 0 | 3 | 5 | 1 |
| 1 | 8 | 2 | 7 |
| 2 | 6 | 9 | 4 |
| 3 | 2 | 3 | 5 |
| 4 | 9 | 1 | 2 |


Your function should select the following rows: 

|   | A | B | C |
|---|---|---|---|
| 1 | 8 | 2 | 7 |
| 4 | 9 | 1 | 2 |

The function should return a new DataFrame that contains only the selected rows.

In [81]:
data = {"A":[3,8,6,2,9],
        "B":[5,2,9,3,1],
        "C":[1,7,4,5,2]
       }
df = pd.DataFrame(data)
print(df)
def filter(df):
    return df[(df['A'] > 5) & (df['B'] < 10)]
newDf = filter(df)
newDf

   A  B  C
0  3  5  1
1  8  2  7
2  6  9  4
3  2  3  5
4  9  1  2

   A  B  C
1  8  2  7
2  6  9  4
4  9  1  2

<br>
Q9. Given a Pandas DataFrame df with a column 'Values', write a Python function to calculate the mean,
median, and standard deviation of the values in the 'Values' column.

In [82]:
print(values_df)

def calculate_stats(df):
    mean_value = df['Values'].mean()
    median_value = df['Values'].median()
    std_deviation = df['Values'].std()
    
    return mean_value, median_value, std_deviation

result = calculate_stats(values_df)
print("Mean:", result[0])
print("Median:", result[1])
print("Standard Deviation:", result[2])

   Values
0      10
1      20
2      30
3      40
4      50
Mean: 30.0
Median: 30.0
Standard Deviation: 15.811388300841896

<br>
Q10. Given a Pandas DataFrame df with a column 'Sales' and a column 'Date', write a Python function to
create a new column 'MovingAverage' that contains the moving average of the sales for the past 7 days
for each row in the DataFrame. The moving average should be calculated using a window of size 7 and
should include the current day.

In [83]:
import numpy as np
from datetime import datetime, timedelta

# Create sample data for the DataFrame
np.random.seed(0)
date_today = datetime.now()
date_list = [date_today - timedelta(days=x) for x in range(0, 30)]
sales_data = np.random.randint(1, 101, size=len(date_list))

# Create the DataFrame
df = pd.DataFrame({'Date': date_list, 'Sales': sales_data})

# Function to calculate the moving average
def calculate_moving_average(df):
    # Sort the DataFrame by the 'Date' column if it's not already sorted
    df['Date'] = pd.to_datetime(df['Date'])
    df.sort_values(by='Date', inplace=True)
    
    # Calculate the moving average with a window of size 7
    df['MovingAverage'] = df['Sales'].rolling(window=7, min_periods=1).mean()
    
    return df

# Calculate the moving average and store it in the DataFrame
df = calculate_moving_average(df)

# Print the resulting DataFrame
print(df)

                         Date  Sales  MovingAverage
29 2023-08-12 17:05:32.106507     80      80.000000
28 2023-08-13 17:05:32.106507     70      75.000000
27 2023-08-14 17:05:32.106507     81      77.000000
26 2023-08-15 17:05:32.106507     21      63.000000
25 2023-08-16 17:05:32.106507     10      52.400000
24 2023-08-17 17:05:32.106507     73      55.833333
23 2023-08-18 17:05:32.106507     78      59.000000
22 2023-08-19 17:05:32.106507     26      51.285714
21 2023-08-20 17:05:32.106507     38      46.714286
20 2023-08-21 17:05:32.106507     82      46.857143
19 2023-08-22 17:05:32.106507     89      56.571429
18 2023-08-23 17:05:32.106507     47      61.857143
17 2023-08-24 17:05:32.106507     88      64.000000
16 2023-08-25 17:05:32.106507     40      58.571429
15 2023-08-26 17:05:32.106507     66      64.285714
14 2023-08-27 17:05:32.106507     59      67.285714
13 2023-08-28 17:05:32.106507     13      57.428571
12 2023-08-29 17:05:32.106507     89      57.428571
11 2023-08-30 17:05:32.106507     89      63.428571
10 2023-08-31 17:05:32.106507     71      61.000000
9  2023-09-01 17:05:32.106507     88      67.857143
8  2023-09-02 17:05:32.106507     37      63.714286
7  2023-09-03 17:05:32.106507     22      58.428571
6  2023-09-04 17:05:32.106507     84      68.571429
5  2023-09-05 17:05:32.106507     10      57.285714
4  2023-09-06 17:05:32.106507     68      54.285714
3  2023-09-07 17:05:32.106507     68      53.857143
2  2023-09-08 17:05:32.106507     65      50.571429
1  2023-09-09 17:05:32.106507     48      52.142857
0  2023-09-10 17:05:32.106507     45      55.428571

<br>
Q11. You have a Pandas DataFrame df with a column 'Date'. Write a Python function that creates a new
column 'Weekday' in the DataFrame. The 'Weekday' column should contain the weekday name (e.g.
Monday, Tuesday) corresponding to each date in the 'Date' column.
For example, if df contains the following values:

|    | Date       |
|---:|:-----------|
|  0 | 2023-01-01 |
|  1 | 2023-01-02 |
|  2 | 2023-01-03 |
|  3 | 2023-01-04 |
|  4 | 2023-01-05 |

Your function should create the following DataFrame:

Date Weekday

|    | Date       | Day       |
|---:|:-----------|:----------|
|  0 | 2023-01-01 | Sunday    |
|  1 | 2023-01-02 | Monday    |
|  2 | 2023-01-03 | Tuesday   |
|  3 | 2023-01-04 | Wednesday |
|  4 | 2023-01-05 | Thursday  |


The function should return the modified DataFrame.

In [84]:
data = {
    'Date': ['2023-01-01', '2023-01-02', '2023-01-03', '2023-01-04', '2023-01-05']
}

date_df = pd.DataFrame(data)
print(date_df)


def add_weekday_column(df):
    # Convert the 'Date' column to a datetime type
    df['Date'] = pd.to_datetime(df['Date'])
    
    # Add a new 'Weekday' column with the weekday names
    df['Weekday'] = df['Date'].dt.strftime('%A')
    
    return df

weekend_df = add_weekday_column(date_df)
weekend_df

         Date
0  2023-01-01
1  2023-01-02
2  2023-01-03
3  2023-01-04
4  2023-01-05

        Date    Weekday
0 2023-01-01     Sunday
1 2023-01-02     Monday
2 2023-01-03    Tuesday
3 2023-01-04  Wednesday
4 2023-01-05   Thursday

<br>
Q12. Given a Pandas DataFrame df with a column 'Date' that contains timestamps, write a Python
function to select all rows where the date is between '2023-01-01' and '2023-01-31'.

In [85]:
def filter_df_with_date(df,start_date,end_date):
    
    start_date = pd.to_datetime(start_date)
    end_date = pd.to_datetime(end_date)
    filtered_df = df[(df['Date'] >= start_date) & (df['Date'] <= end_date)]
    return filtered_df
print(filter_df_with_date(date_df,'2023-01-01','2023-01-31'))

        Date    Weekday
0 2023-01-01     Sunday
1 2023-01-02     Monday
2 2023-01-03    Tuesday
3 2023-01-04  Wednesday
4 2023-01-05   Thursday

<br>
Q13. To use the basic functions of pandas, what is the first and foremost necessary library that needs to
be imported?

As per the operations done above we came to the conclusion that to perfomr any kind of functionality of pandas we first need to import the pandas libray. Generally pandas is imported as 'pd'.